body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

header {
    text-align: center;
    background-color: #1f1f1f;
    color: white;
    padding: 30px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card button {
    background-color: #ff9800;
    border: none;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.carrinho {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #555;
}
